div.todolist{
    border: 1px solid #000;
    height: 100%;
}

.box3nav{
    width: 90%;
    margin-left: 100px;
    display: flex;
    gap: 20px;
    border: 1px solid gray;
    padding: 20px 10px;
}

h1{
    margin-left: 100px;
}
div.box2click{
    display: block;
    float: right;
}

table.contentoftable{
    width: 80%;
    height: 100%;
    margin-left: 150px;
    margin-top: 50px;
}
table, td {
    border: 1px solid gray;;
 }

div.box2click{
    margin-right: 150px;
}

button.greycolor{
    background-color: aquamarine;
}


.status.woking{
    background-color: brown;
}
.status.completed{
    background-color: aquamarine;
}

button.redcolor{
    background-color: brown;
}

button.bluecolor{
    background-color: blue;
}