/* *{
    display: block;
    padding: 0;
    margin: 0;
} */

.cartcustem{
    float: right;
    padding: 10px 0 0 20px;
    

}

.logincustem{
    float: right;
    padding: 10px 0 0 20px;
}

.shopcustem{
    padding: 0 0 40px 20px;
    float: left;
    
}

.homecustem{
    padding: 0 0 10px 30px;
    float: left;
}
.headercustem{

}

